h1 Guitar Chord Finder
.wrapper
  form.picker#picker
    .base
      label
        input.base-select(type='radio' name='base' value='A' checked)
        .selection A
      label
        input.base-select(type='radio' name='base' value='B')
        .selection B
      label
        input.base-select(type='radio' name='base' value='C')
        .selection C
      label
        input.base-select(type='radio' name='base' value='D')
        .selection D 
      label
        input.base-select(type='radio' name='base' value='E')
        .selection E 
      label
        input.base-select(type='radio' name='base' value='F')
        .selection F
      label
        input.base-select(type='radio' name='base' value='G')
        .selection G
    .key
      label
        input.base-select(type='radio' name='key' value='major' checked)
        .selection Major
      label
        input.base-select(type='radio' name='key' value='minor')
        .selection Minor
  .guitar
    .finger
    .finger
    .finger
    .finger
    .finger
    .finger
    .neck
      .string
      .string
      .string
      .string
      .string
      .string