$num-frets: 4;
$fret-height: 1px;
$fret-spacing: 120px;
$num-strings: 6;
$neck-width: 300px;
$finger-size: 40px;
$neck-height: ($num-frets + 1) * ($fret-height + $fret-spacing);
$neck-color: #8e8e8e;
$fret-color: #000000;
$string-color: #000000;
@import 'https://fonts.googleapis.com/css?family=Josefin+Slab|Montserrat';
@mixin transition-all {
  // ya i know :P
  transition: all .5s;
}

* {
  box-sizing: border-box;
  @include transition-all;
}

body {
  background: #d1d1d1;
  font-family: 'Josefin Slab', serif;
}

h1 {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 80px;
  line-height: 100px;
  font-family: 'Montserrat', sas-serif;
}

.wrapper {
  display: flex;
  //align-items: center;
  justify-content: center;
}

.guitar {
  width: $neck-width;
  height: $neck-height;
  border-top: 3px solid $fret-color;
  border-bottom: 3px solid $fret-color;
  padding: 0 5px;
  position: relative;
  background: repeating-linear-gradient(to bottom, rgba($neck-color, 1) 0px, rgba($neck-color, 1) $fret-spacing, rgba($fret-color, 1) $fret-spacing, rgba($fret-color, 1) $fret-spacing + $fret-height);
}

.neck {
  position: absolute;
  width: $neck-width;
  height: $neck-height;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
}

.string {
  height: $neck-height;
  background: $string-color;
  @for $i from 1 through 6 {
    &:nth-of-type(#{$i}) {
      width: #{7-$i}px;
    }
  }
}

.finger {
  background: black;
  border: 3px solid black;
  height: $finger-size;
  width: $finger-size;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  opacity: 0;
  top: -100px;
  transition: all .5s;
  @for $i from 1 through 6 {
    &:nth-of-type(#{$i}) {
      left: #{($i - 1) * ($neck-width / 5) - ($finger-size / 2)};
    }
  }
}

.finger-position-- {}

.finger-position-x {}

.finger-position-0 {
  top: #{-1 * $finger-size};
  opacity: 1;
  transition: all .5s;
  background: #ffffff;
}

@for $i from 0 through 6 {
  .finger-position-#{$i + 1} {
    top: ($i * $fret-spacing) + ($fret-spacing/2) - ($finger-size/2);
    opacity: 1;
    transition: all .5s;
  }
}

.picker {
  height: 500px;
  margin-right: 100px;
  display: flex;
  flex-direction: row;
  input[type='radio'] {
    display: none;
    &:checked ~ .selection {
      @include transition-all;
      color: purple;
      background: darken(#d1d1d1, 5%);
      border-radius: 10px;
    }
  }
  .base,
  .key {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    width: 100px;
    cursor: pointer;
  }
  label {
    padding: 5px 0;
    font-size: 24px;
    line-height: 24px;
    border-bottom: 1px solid black;
    &:last-child {
      border-bottom: 0;
    }
  }
  .selection {
    @include transition-all;
    padding: 8px 10px 4px;
  }
}